.about {
    color: white;
    padding-top: 160px;
    height: 300px;
    background: black;
    text-align: center;
}


.about p {
    max-width: 800px;
    margin: 0 auto;
}
.cta-button {
    display: inline-block;
    padding: 12px 24px; /* Top and bottom, left and right padding */
    background-color: #28a745; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from link */
    font-size: 1rem;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.cta-button:hover {
    background-color: #218838; /* Darker green on hover */
}

@media (max-width: 768px) {
    .about {
        padding: 3rem 1rem;
    }
}
