.accordion {
    max-width: 80%; /* Set width to 90% to leave 10% space on both sides */
    margin: 0 auto; /* Center the accordion */
    background-color: black;
}

.accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1.75rem;
    overflow: hidden;
}

.accordion-header {
    background: #292929;
    color: #fff;
    cursor: pointer;
    padding: 1.5rem 2rem; /* Increase padding for left and right */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;
}

.accordion-header:hover {
    background: #0056b3;
}

.accordion-title {
    margin: 0;
    font-size: 1.75rem;
}

.accordion-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.accordion-icon.open {
    transform: rotate(45deg);
}

.accordion-body {
    color: white;
    padding: 0 2rem; /* Increase padding for left and right */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    background-color: #292929;
}

.accordion-body.open {
    max-height: 1000px; /* Adjust as needed */
    opacity: 1;
}

.accordion-body p {
    margin: 2rem 0;
}

@media (max-width: 768px) {
    .accordion-header {
        padding: 0.75rem 1.5rem; /* Adjust padding for smaller screens */
    }

    .accordion-title {
        font-size: 1rem;
    }

    .accordion-icon {
        font-size: 1.2rem;
    }
}
