.rotating-phones {
    position: relative;
    width: 300px;
    height: 600px;
    margin: 0 auto;
    padding-top: 160px ;
    
    /* margin-top: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    position: absolute;
    transition: transform 1s ease-in-out, z-index 1s ease-in-out;
}

.phone img {
    width: 100%;
    height: auto;
    display: block;
}

/* Rotate the phones with one on top */
.phone1 {
    animation: rotatePhones 6s infinite;
}

.phone2 {
    animation: rotatePhones 6s infinite 2s;
}

.phone3 {
    animation: rotatePhones 6s infinite 4s;
}

@keyframes rotatePhones {
    0%, 100% {
        transform: translateX(0) scale(1);
        z-index: 3; /* Top image */
    }
    33.33% {
        transform: translateX(-40%) scale(0.8);
        z-index: 1; /* Back left */
    }
    66.66% {
        transform: translateX(40%) scale(0.8);
        z-index: 1; /* Back right */
    }
}
